@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    height: 100vh;
    display: grid;
    place-content: center;
  }
}